<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <header>
    <nav class="container">
        <div>LOGO</div>
        <div>NAVIGATION</div>
    </nav>
    <div class="header-container">
        <div class="header-container--inner">
            <h1>A healthy meal delivered to your door every single day</h1>
            <p>The smart 365-days-per-year food subscription what will make you eat healthy again. Tailored to your personal tastes and nuteritional needs</p>
            <a href="#" class="btn">start eating well</a>
        </div>
    </div>
 </header>
 <section>
    <div class="container">
        <h2>Some nice heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore iste rem et accusamus cum consequuntur beatae id nesciunt tempore soluta, aliquam quia est voluptatibus enim, nisi corporis nobis ipsam voluptate voluptates totam veniam. Sequi quisquam quidem, cum sint ullam veritatis eius incidunt unde iure, optio culpa expedita! Enim nostrum perspiciatis omnis ipsa explicabo nobis nihil reprehenderit iste, reiciendis esse sit minus porro facilis. Rem, inventore? Ipsum ipsa unde reprehenderit quo at numquam quia odio et maxime. Incidunt expedita, omnis dolorem tempora quae quos, harum iste nulla vero distinctio, obcaecati rem hic asperiores! Est unde nemo beatae enim asperiores fugit modi!</p>
    </div>
 </section>
</body>
</html>