<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carosel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <img src="cropped-IMG_6862.jpg" alt="maria">
        <blockquote class="testimonial">
            <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At numquam ad itaque, placeat hic, voluptatem veniam assumenda corrupti ab sapiente, cupiditate sed libero? Laudantium rem atque eveniet reprehenderit, voluptates voluptate?</p>
            <p class="testimonial-author"> Swapnil Karwa </p>
            <p class="testimonial-job"> Sr.Software Engineer </p>
        </blockquote>
        <button class="btn btn--left">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>              
        </button>
        <button class="btn btn--right">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>                            
        </button>
        <div class="parent">
            <div class="chidren first"></div>
            <div class="chidren"></div>
            <div class="chidren"></div>
            <div class="chidren"></div>
        </div>
    </div>
    
</body>
</html>